name: Deploy to Stagging

on: 
    push:
        branches:
            - "main"

jobs:
    redeploy_calc:
        name: Deploy calc to stagging cluster
        runs-on: ubuntu-latest

        steps:
            - name: SSH into the server
              run: |
                echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/ssh_key
                mkdir -p /home/runner/.ssh
                touch /home/runner/.ssh/known_hosts
                echo "${{ secrets.KNOWN_HOSTS }}" > /home/runner/.ssh/known_hosts
                ssh -i ~/ssh_key ubuntu@13.234.66.223
                cd home/cal-backend && git pull
                npm install
                npm tsc -b
                pm2 restart index